
$primaryfont:       'Open Sans', sans-serif;
$primaryfont1:      'Open Sans', sans-serif;
$primaryfont2:      'Ubuntu', sans-serif;
$primaryfont3:      'Open Sans', sans-serif;
$exp1:              'Russo One', sans-serif;
$exp2:              'Barlow', sans-serif;
$exp3:              'Alegreya Sans', sans-serif;
$exp4:              'Palanquin', sans-serif;

$primarycolor:          #ff8000;
$primarycolor2:         #ff8000; 
$primarycolor2-hover:   #ff8c1a; 
$primarycolor2-hover2:  #ffa346;
$primarycolor3:         #00557d; 
$primarycolor3-hover:   #0073aa;
$primarycolor3:         #1a8cff; 
$primarycolor2-hover:   #ff8c1a;
$subwhite:              #e6e6e6;
$subwhite2:             #c5c5c5;
$grey:                  #f8f8f8;
$blueLink:              #009eea; 
$blueLink-hover:        #0086c6;
$buttonColor:           #0b5688; 
$buttonColor-hover:     #2c668d;
$blueFaded:              #3bb4ec; 

$pageWidth: 90%;
