@charset "utf-8";
@viewport { width: device-width; }
@import "../stylesDef/index";

.searchSpinner {
	
	display: flex;
	justify-content: center;
	justify-items: center;
	left: 0;
	position: fixed;
	top: 20%;
	width: 100vw;
	z-index: 999;

	&__content{
		position: relative;
		line-height: to-rem(50px);

		&:before{
			animation: spin .75s linear infinite;
			border: 3.5px solid rgba(rgb(176, 176, 194), 0.25);
			border-radius: 50%;
			border-right-color: rgb(205, 205, 209);
			box-sizing: border-box;
			content: "";
			display: inline-block;
			float: left;
			left: 0;
			right: 0;
			height: 30px;
			width: 30px;
		}

		&-text{
			color: blue;
			float: left;
			font-weight: bold;
			margin: 0 0 0 20px;
		}
	}
}

@keyframes spin {
	to {
		-webkit-transform: rotate(1turn);
		transform: rotate(1turn)
	}
}

 
